<% @title = "Settings" %>

<%= stylesheet_link_tag "settings/general" %>

<%= render :partial => "/shared/subnav",
           :locals => {
             :header => "Settings",
             :links => [["General", general_settings_path], ["Users", collaborators_path]]
           } %>

<div id="tabbed_content">
  <% form_tag update_all_settings_path, :method => :put do %>
  <% for setting in @settings %>
      <% fields_for "settings[]", setting do |f| %>
        <h2><%=h setting.name %></h2>
        <%= f.error_messages :object_name => "setting" %>
        <%= f.label :name %><br />
        <%= f.text_field :value %>
      <% end %>
    <% end %>
    <p><%= submit_tag "Submit" %></p>
  <% end %>
</div>
